@page "/"

<PageTitle>Musical Desks</PageTitle>

<h1>Musical Desks</h1>
<p>
    Welcome in to Knowit's new office!. Here we have place for you to work comfortably with new fresh workplaces. But there are a limited number of places. You need to book a place!
</p>
<div>
    <img src="images/KNOWIT_MOBLERING_plan_5.jpg" alt="Plan 5 layout"/>
</div>
<SurveyPrompt Title="How is Blazor working for you?" />
