@page "/"

<PageTitle>Musical Desks</PageTitle>

<h1>Musical Desks</h1>
<p>
    Welcome in to Knowit's new office!. Here we have place for you to work comfortably with new fresh workplaces. But there are a limited number of places. You need to book a place!
</p>
<div>
    <img src="images/KNOWIT_MOBLERING_plan_5.jpg" alt="Plan 5 layout" usemap="#solutionsmap" width="1190" height="841"/>
    <map name="solutionsmap">
        <area shape="poly" coords="899,166,926,370,853,375,830,216,748,199,755,141" href="maintenance" alt="Maintenance" />
        <area shape="poly" coords="666,317,772,335,763,392,658,372" href="quietzone" alt="Quiet zone" />
        <area shape="poly" coords="228,52,402,82,388,144,260,146,219,134" href="socialzone" alt="Social zone" />
    </map>
</div>

