@page "/maintenance"
<h3>Maintenance</h3>
<BSAccordion IsFlushed="true">
    <BSAccordionItem>
        <Header>Förvaltning Mad Max</Header>
        <Content>
            <p>
                This cluster will be given booking priority to förvaltning. Ask Susanne.
            </p>
            <BSTable IsResponsive="true" IsStriped="true" IsCaptionTop="true">
                <BSCaption>Ghosts of Telia</BSCaption>
                <BSTHead>
                    <BSTR>
                        <BSTD>Side</BSTD>
                        <BSTD>Aisle</BSTD>
                        <BSTD>Middle</BSTD>
                        <BSTD>Window</BSTD>
                    </BSTR>
                </BSTHead>
                <BSTBody>
                    <BSTR>
                        <BSTD>Left</BSTD>
                        <BSTD>
                            <div>
                                Stina
                            </div>
                            <ul>
                                <li>Screen extra wide</li>
                                <li>Hdmi cable</li>
                                <li>Keyboard</li>
                                <li>mouse</li>
                            </ul>
                        </BSTD>
                        <BSTD>
                            <div>
                                Joel
                            </div>
                            <ul>
                                <li>Screen 4k HD</li>
                                <li>USB C cable</li>
                                <li>Keyboard</li>
                                <li>mouse</li>
                            </ul>

                        </BSTD>
                        <BSTD>
                            <div>
                                Charles
                            </div>
                            <ul>
                                <li>Dual Screen</li>
                                <li>Docking station for Dell</li>
                                <li>Hdmi cable</li>
                                <li>Keyboard</li>
                                <li>mouse</li>
                            </ul>
                        </BSTD>
                    </BSTR>
                    <BSTR>
                        <BSTD>Right</BSTD>
                        <BSTD>
                            <div>
                                Empty <BSButton Color="BSColor.Primary" Target="modalBook">Book</BSButton>
                            </div>
                            <ul>
                                <li>Dual Screen</li>
                                <li>Docking station for Dell</li>
                                <li>Hdmi cable</li>
                                <li>Keyboard</li>
                                <li>mouse</li>
                            </ul>
                        </BSTD>
                        <BSTD>
                            <div>
                                Empty <BSButton Color="BSColor.Primary" Target="modalBook">Book</BSButton>
                            </div>
                            <ul>
                                <li>Screen 4k HD</li>
                                <li>USB C cable</li>
                                <li>Keyboard</li>
                                <li>mouse</li>
                            </ul>
                        </BSTD>
                        <BSTD>
                            <div>
                                Empty <BSButton Color="BSColor.Primary" Target="modalBook">Book</BSButton>
                            </div>
                            <ul>
                                <li>Screen 4k HD</li>
                                <li>USB C cable</li>
                                <li>Keyboard</li>
                                <li>mouse</li>
                            </ul>
                        </BSTD>
                    </BSTR>
                </BSTBody>
                <BSTFoot>
                    <BSTR>
                        <BSTD ColSpan="4">Bookable but Susanne has veto rights.</BSTD>
                    </BSTR>
                </BSTFoot>
            </BSTable>
        </Content>
    </BSAccordionItem>
    <BSAccordionItem>
        <Header>Förvaltning Blade Runner</Header>
        <Content>
            <p>
                This cluster will be given booking priority to förvaltning. Ask Susanne.
            </p>
            <BSTable IsResponsive="true" IsStriped="true" IsCaptionTop="true">
                <BSCaption>Bliwa in the house</BSCaption>
                <BSTHead>
                    <BSTR>
                        <BSTD>Side</BSTD>
                        <BSTD>Aisle</BSTD>
                        <BSTD>Middle</BSTD>
                        <BSTD>Window</BSTD>
                    </BSTR>
                </BSTHead>
                <BSTBody>
                    <BSTR>
                        <BSTD>Left</BSTD>
                        <BSTD>
                            <div>
                                Gustav
                            </div>
                            <ul>
                                <li>Screen extra wide</li>
                                <li>Hdmi cable</li>
                                <li>Keyboard</li>
                                <li>mouse</li>
                            </ul>
                        </BSTD>
                        <BSTD>
                            <div>
                                Crippe
                            </div>
                            <ul>
                                <li>Screen 4k HD</li>
                                <li>USB C cable</li>
                                <li>Keyboard</li>
                                <li>mouse</li>
                            </ul>

                        </BSTD>
                        <BSTD>
                            <div>
                                Anders
                            </div>
                            <ul>
                                <li>Dual Screen</li>
                                <li>Docking station for Dell</li>
                                <li>Hdmi cable</li>
                                <li>Keyboard</li>
                                <li>mouse</li>
                            </ul>
                        </BSTD>
                    </BSTR>
                    <BSTR>
                        <BSTD>Right</BSTD>
                        <BSTD>
                            <div>
                                Empty <BSButton Color="BSColor.Primary" Target="modalBook">Book</BSButton>
                            </div>
                            <ul>
                                <li>Dual Screen</li>
                                <li>Docking station for Dell</li>
                                <li>Hdmi cable</li>
                                <li>Keyboard</li>
                                <li>mouse</li>
                            </ul>
                        </BSTD>
                        <BSTD>
                            <div>
                                Empty <BSButton Color="BSColor.Primary" Target="modalBook">Book</BSButton>
                            </div>
                            <ul>
                                <li>Screen 4k HD</li>
                                <li>USB C cable</li>
                                <li>Keyboard</li>
                                <li>mouse</li>
                            </ul>
                        </BSTD>
                        <BSTD>
                            <div>
                                Empty <BSButton Color="BSColor.Primary" Target="modalBook">Book</BSButton>
                            </div>
                            <ul>
                                <li>Screen 4k HD</li>
                                <li>USB C cable</li>
                                <li>Keyboard</li>
                                <li>mouse</li>
                            </ul>
                        </BSTD>
                    </BSTR>
                </BSTBody>
                <BSTFoot>
                    <BSTR>
                        <BSTD ColSpan="4">Bookable but Susanne has veto rights.</BSTD>
                    </BSTR>
                </BSTFoot>
            </BSTable>
        </Content>
    </BSAccordionItem>
    <BSAccordionItem>
        <Header>Solutions Sales/Chief Cluster</Header>
        <Content>
            <p>
                This cluster is where sales and team leaders/chiefs will congregate.
            </p>
            <BSTable IsResponsive="true" IsStriped="true" IsCaptionTop="true">
                <BSCaption>Chiefs</BSCaption>
                <BSTHead>
                    <BSTR>
                        <BSTD>Side</BSTD>
                        <BSTD>Aisle</BSTD>
                        <BSTD>Middle</BSTD>
                        <BSTD>Window</BSTD>
                    </BSTR>
                </BSTHead>
                <BSTBody>
                    <BSTR>
                        <BSTD>Left</BSTD>
                        <BSTD>Tim</BSTD>
                        <BSTD>Susanne</BSTD>
                        <BSTD>Linda</BSTD>
                    </BSTR>
                    <BSTR>
                        <BSTD>Right</BSTD>
                        <BSTD>Erik</BSTD>
                        <BSTD>Håkan</BSTD>
                        <BSTD>CEO to be named</BSTD>
                    </BSTR>
                </BSTBody>
                <BSTFoot>
                    <BSTR>
                        <BSTD ColSpan="4">These spots are not bookable.</BSTD>
                    </BSTR>
                </BSTFoot>
            </BSTable>
            <BSTable IsResponsive="true" IsStriped="true" IsCaptionTop="true">
                <BSCaption>Sales</BSCaption>
                <BSTHead>
                    <BSTR>
                        <BSTD>Left</BSTD>
                        <BSTD>Right</BSTD>
                    </BSTR>
                </BSTHead>
                <BSTBody>
                    <BSTR>
                        <BSTD>David</BSTD>
                        <BSTD>Oscar</BSTD>
                    </BSTR>
                </BSTBody>
                <BSTFoot>
                    <BSTR>
                        <BSTD ColSpan="4">These spots are not bookable.</BSTD>
                    </BSTR>
                </BSTFoot>
            </BSTable>
        </Content>
    </BSAccordionItem>
</BSAccordion>
<BSModal DataId="modalBook" IsStaticBackdrop="true" IsCentered="true">
    <Header>Book a spot</Header>
    <Content>Remember, your request must be approved by Förvaltning!</Content>
    <Footer Context="modal">
        <BSButton MarginStart="Margins.Auto" Color="BSColor.Secondary" @onclick="modal.HideAsync">Close</BSButton>
        <BSButton Color="BSColor.Primary">Book!</BSButton>
    </Footer>
</BSModal>

@code {

}
